/* Custome css for this page */
/* Custome css for this page */
.section-title {
  font-weight: 700;
  font-size: 46px;
  padding-bottom: 30px;
  color: #303030;
}
.article-area .section-title {
  padding-top: 70px;
}
.article-single-item {
  margin-bottom: 40px;
}
.article-thumb img {
  height: 100%;
  width: 100%;
}
.article-title {
  color: #222a35;
  font-size: 22px;
  font-weight: 700;
  padding-top: 30px;
  display: block;
  padding-bottom: 10px;
}
.article-date {
  font-size: 16px;
  font-weight: 600;
  color: #f9c565;
  padding-bottom: 10px;
}
.article-pragrap {
  color: #777c83;
  font-weight: 400;
}
/* Player Page */
.games-slider {
  padding: 30px 0;
}
.game-players {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  align-items: center;
}
.game-card-date {
  text-align: center;
  font-size: 22px;
  padding-bottom: 20px;
  font-weight: 600;
  color: #414141;
}
.btn-transparent {
  padding: 10px 20px;
  border: 2px solid #222a35;
  color: #222a35;
  font-weight: 500;
  display: block;
}
.btn-transparent:hover {
  background: #222a35;
  color: #fff;
}
.player-vs {
  font-weight: 700;
  font-size: 36px;
  color: #222a35;
}
.game-card-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  column-gap: 10px;
}
.player img {
  height: 100%;
  max-width: 100px;
  width: 100%;
}
/* Custome css for this page */
/* Custome css for this page */


/* Our Categories  */
.categories-items{
  column-gap: 15px;
}
.categories-single img{
  width: 100%;
}
.categories-single p {
    font-size: 20px;
    line-height: 30px;
    color: #303030;
    font-weight: 700;
    margin-top: 10px;
}

/* World Ranking section  */
.world_ranking_card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 30px;
}
.world-ranking .card_items {
  text-align: center;
}
.world_ranking_card .card_items p {
  font-weight: 600;
  color: #303030;
}
.tema_image {
  margin: 20px 0 20px;
}
.tema_image img {
  width: 90%;
  height: auto;
  text-align: center;
}
.teamFicture {
  font-size: 10px;
  padding: 4px 6px;
  border: 1px solid #bdbdbd;
  background: #fff;
  border-radius: 4px;
  transition: 0.3s;
}
.teamFicture:hover {
  box-shadow: 0px 3px 8px #00000025;
}
/* youtube video */
.youtube_bg img {
  width: 100%;
}
.sh-watch_video{
  border-radius: 5px;
  margin-top: 25px;
  box-shadow: 0px 4px 36px 0px #0000003B;
}
.sh_watch_video_content{
  padding: 16px;
}
.sh_watch_video_bg{
  position: relative;
  width: 100%;
  height: 100%;
}
.sh_play_btn{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sh_play_btn a{
  display: inline-block;
}
.sh_play_btn a i{
  font-size: 50px;
  color: var(--Secondary_white);
  transition: 0.3s;
}
.sh_play_btn a:hover i{
  color: var(--Secondary_yellow);
}
.pr_3{
  padding-right: 30px !important;
}
.pl_3{
  padding-left: 30px !important;
}
.world_ranking_col{
  position: relative;
}
.world_ranking_col::after{
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #dee2e6;
}


/* gamerPay */
.gamerPay {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
}
.gaerpay_text a {
  color: #f59f00;
  transition: 0.3s;
  text-decoration: underline;
}
.gaerpay_text a:hover {
  color: #dc8600;
}
.gamerpay_img img {
  height: 140px;
  width: 140px;
}

.achieved_counter h3 {
    font-weight: 700;
    font-size: 46px;
    color: #f59f00;
}
.achieved_counter p{
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  color: #303030;
}
/* general_cs  */
.general_cs {
  padding-top: 50px;
}
.general_cs_item ,
.skin_articles_items,
.lol_articles_items{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 20px;
  flex-wrap: wrap;
}
.general_cs_item .single_items,
.skin_articles_items .single_items,
.lol_articles_items .single_items {
  flex: 0 0 calc(20% - 20px);
}
.single_items_img img {
  width: 100%;
  object-fit: cover;
  height: 125px;
}
.section-title2{
  padding-bottom: 0px
}
.section_title3{
  font-size: 36px;
  line-height: 42px;
}
.article-title2 {
    font-size: 14px;
    letter-spacing: -.5px;
    padding-top: 15px;
    padding-bottom: 0px;
    line-height: 17px;
    min-height: 52px;
}
.article-date2 {
    font-size: 12px;
    letter-spacing: .8px;
    padding-bottom: 12px
}
.article-pragrap2 {
    font-size: 14px;
    margin-top: 4px;
    letter-spacing: -.2px;
}
.pb-7{
  padding-bottom: 70px;
}